<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd" >

    <bean id="entityManagerFactory"
          class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="Lavor-CommonsPU" />
    </bean>

    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />

    <bean id="transactionManager"
          class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>

    <tx:annotation-driven />

    <bean class="lavor.dao.imp.UsuarioDaoImp"               id="usuarioDao" />
    <bean class="lavor.dao.imp.PostoDeAtendimentoDaoImp"    id="postoDeAtendimentoDao" />
    <bean class="lavor.dao.imp.CidadeDaoImp"                id="cidadeDao" />
    <bean class="lavor.dao.imp.LinhaDaoImp"                 id="linhaDao" />
    <bean class="lavor.dao.imp.ClienteDaoImp"               id="clienteDao" />
    <bean class="lavor.dao.imp.EquipamentoDaoImp"           id="equipamentoDao" />
    <bean class="lavor.dao.imp.PecaDaoImp"                  id="pecaDao" />


    <bean class="lavor.service.UsuarioService"              id="usuarioService" >
        <property name="usuarioDao"                 ref="usuarioDao" />
    </bean>

    <bean class="lavor.service.CidadeService"               id="cidadeService" >
        <property name="cidadeDao"                  ref="cidadeDao" />
    </bean>

    <bean class="lavor.service.PostoDeAtendimentoService"   id="postoDeAtendimentoService" >
        <property name="postoDeAtendimentoDao"      ref="postoDeAtendimentoDao" />
        <property name="usuarioService"             ref="usuarioService" />
    </bean>

    <bean class="lavor.service.LinhaService"                id="linhaService" >
        <property name="linhaDao"                   ref="linhaDao" />
    </bean>

    <bean class="lavor.service.ClienteService"              id="clienteService" >
        <property name="clienteDao"                 ref="clienteDao" />
    </bean>

    <bean class="lavor.service.EquipamentoService"          id="equipamentoService" >
        <property name="equipamentoDao"                 ref="equipamentoDao" />
    </bean>

    <bean class="lavor.service.PecaService"          id="pecaService" >
        <property name="pecaDao"                 ref="pecaDao" />
    </bean>

</beans>
